body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

header nav ul {
  display: flex;
  gap: 10px;
}

header nav ul li {
  list-style: none;
  text-transform: uppercase;
}

header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

h2 {
  font-family: 'Markazi Text';
  font-size: 64px;
  color: #F4Ce14;
  line-height: 0px
}

h5 {
  font-family: 'Markazi Text';
  font-size: 40px;
  color: #ffff;
  line-height: 0px
}

p {
  font-family: 'Markazi Text';
  font-size: 16px;
  color: #ffff;
  line-height: 20px
}

.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #495E57;
  margin-bottom: 120px;
  margin-top: 30px;
  gap: 30px;
}

.heroSection section {
  max-width: 422px;
}

.heroSection img {
  max-width: 325px;
  margin-bottom: -90px;
  margin-top: 20px;
  border-radius: 40px;
}

.specialSection .card {
  max-width: 265px;
  background: #EDEFEE;
}

.specialSection .card section {
  padding: 0px 30px 30px 30px;
}

.specialSection .card section div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specialSection .card h5 {
  font-size: 24px;
  color: #000;
}

.specialSection .card img {
  width: 100%;
  height: 185px;
  border-radius: 20px 20px 0px 0px;
}

.specialSection .card span {
  color: #EE9972;
  font-weight: bold;
}

.specialSection .card p {
  color: #495E57;
}

.specialSection .card p span {
  color: #000;
}

.specialSection > section {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.specialSection .card-section {
  justify-content: center;
  gap: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

footer ul {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

footer ul li {
  list-style: none;
  font-weight: bold;
  color:#3d3c3c
}

footer ul li a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

footer img {
  max-width: 300px;
  width: 100%;
}